<div class="tabs">
  <ul>
    <li (click)="programCoursesTabSetToActive()" [ngClass]="{'is-active': isProgramCourseTabActive}">
      <a>Courses</a>
    </li>
    <li (click)="programStrandsTabSetToActive()" [ngClass]="{'is-active': !isProgramCourseTabActive}">
      <a>Strands</a>
    </li>
  </ul>
</div>


<div class="columns is-multiline">
  <div class="column is-one-third" *ngFor="let programDocument of programCollection">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="{{programDocument.program_photo_url}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" src="{{programDocument.program_author_photo_url}}"
                    >
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">{{programDocument.program_author_name}}</p>
            <!-- <p class="subtitle is-6">{{news.news_author_email}}</p> -->
            <p class="subtitle is-6">user type</p>
          </div>
        </div>
        <div class="content">
          <h4 class="title is-4">
            <a href="{{programDocument.program_page_url}}">{{programDocument.program_acronym}}</a>
          </h4>
          <p>{{programDocument.program_name | slice: 0: 145}}</p>
          <span class="button is-link modal-button"
          (click)="openProgramDocumentDialogUpdate(programDocument.id)">
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
            <span>Update</span>
          </span>
          <span class="button is-danger modal-button is-pulled-right" 
          (click)="openProgramConfirmDeleteDialog(programDocument.id)">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
            <span>Delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>



  <div class="modal" [ngClass]="{'is-active': isProgramConfirmDeleteDialogOpen}" >
    <div class="modal-background" (click)="closeProgramConfirmDeleteDialog()"></div>
    <div class="modal-card"  *ngIf="programDocument">
      <header class="modal-card-head">
        <p class="modal-card-title">Are you sure want to permanently delete this post?</p>
        <button class="delete" type="button" aria-label="close" (click)="closeProgramConfirmDeleteDialog()"></button>
      </header>
      <section class="modal-card-body">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="{{programDocument.program_photo_url}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" src="{{programDocument.program_author_photo_url}}"
                    >
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">{{programDocument.program_author_name}}{{programDocument.program_photo_name}}</p>
            <!-- <p class="subtitle is-6">{{news.news_author_email}}</p> -->
            <p class="subtitle is-6">user type</p>
          </div>
        </div>
        <div class="content">
          <h4 class="title is-4">
            <a href="{{programDocument.program_page_url}}">{{programDocument.program_acronym}}</a>
          </h4>
          <p>{{programDocument.program_name | slice: 0: 145}}</p>
        </div>
      </div>
    </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" type="submit" 
        (click)="deleteProgramDocument()">Yes</button>
        <button class="button" type="button" (click)="closeProgramConfirmDeleteDialog()">No</button>
      </footer>
    </div>
  </div>


 <!--Modal create and edit-->
<form (ngSubmit)="onSubmitUpdateProgramDocument()" ngNativeValidate>
    <div class="modal" [ngClass]="{'is-active': isProgramUpdateDialogOpen}">
      <div class="modal-background"  (click)="closeProgramDocumentDialogUpdate()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Update program</p>
          <button class="delete" type="button" aria-label="close" (click)="closeProgramDocumentDialogUpdate()"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Acronym</label>
            <div class="control">
              <input class="input" name="program_acronym" type="text" placeholder="Acronym here"
              [(ngModel)]="programDocument.program_acronym" maxlength="300" required>
            </div>
          </div>
  
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" name="program_name" type="text" placeholder="Name here"
              [(ngModel)]="programDocument.program_name" required>
            </div>
          </div>

          <div [hidden]="!isProgramImageAvailable" class="field">
              <label class="label">Photo</label>
              <figure class="image is-128x128">
                  <button  class="delete" type="button" aria-label="close" (click)="hideImage()"></button>
                <img src="{{programDocument.program_photo_url}}">
                
              </figure>
          </div>
          <div [hidden]="isProgramImageAvailable" class="field" >
              <label class="label">Photo</label>
            <input type="file" accept="image/*" name="file" (change)="onChangeImageHandler($event)" >
          </div>
          <div class="field" *ngIf="uploadPercent">
            <progress class="progress is-success show-value" value="{{uploadPercent | async}}" max="100">{{uploadPercent | async}}%</progress>
          </div>


          <div class="field">
              <label class="label">Page Url</label>
              <div class="control">
                <input class="input" name="program_page_url" type="url" placeholder="Page URL here"
                [(ngModel)]="programDocument.program_page_url" required>
              </div>
          </div>
          <!-- <div class="field">
              <label class="label">Photo Url</label>
              <div class="control">
                <input class="input" name="program_photo_url" type="url" placeholder="Page URL here"
                [(ngModel)]="programDocument.program_photo_url" required>
              </div>
          </div> -->

        </section>
        <footer class="modal-card-foot">
          <button [disabled]="isProgramDialogFormButtonDisabled" class="button is-success" type="submit">Update</button>
          <button class="button" type="button" (click)="closeProgramDocumentDialogUpdate()">Cancel</button>
        </footer>
      </div>
    </div>
  </form>
</div>