<section class="container">
  <div class="block">
      <h1 class="title">
          News posts about STI PPC
         </h1>
      <a class="button is-primary" (click)="openNewsDialog()">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>Create new post</span>
        </a>
  </div>
    
<app-news-card></app-news-card>

</section>



<!--Modal create and edit-->
<form  #newsForm="ngForm" (ngSubmit)="onSubmitCreateNews(newsForm)" ngNativeValidate>
  <div class="modal" [ngClass]="{'is-active': isNewsDialogOpen}">
    <div class="modal-background"  (click)="closeNewsDialog()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create new post</p>
        <button class="delete" type="button" aria-label="close" (click)="closeNewsDialog()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" name="news_title" type="text" placeholder="Title here"
            [(ngModel)]="newsDocument.news_title" maxlength="300" required>
          </div>
        </div>

        <!-- <div class="field">
          <label class="label">Photo URL</label>
          <div class="control">
            <input class="input" name="news_photo_url" type="url" placeholder="photo url here"
            [(ngModel)]="newsObj.news_photo_url" required>
          </div>
        </div> -->
        <div class="field">
          <input type="file" accept="image/*" (change)="uploadHandler($event)" required>
        </div>
        <div class="field" *ngIf="uploadPercent">
          <progress class="progress is-success show-value" value="{{uploadPercent | async}}" max="100">{{uploadPercent | async}}%</progress>
        </div>
        <div class="field">
            <label class="label">Content</label>
            <div class="control">
              <textarea class="textarea" name="news_content" type="text" rows="7" placeholder="Content here"
              [(ngModel)]="newsDocument.news_content" required></textarea>
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button [disabled]="isNewsDialogFormButtonDisabled" class="button is-success" type="submit">Create</button>
        <button class="button" type="button" (click)="closeNewsDialog()">Cancel</button>
      </footer>
    </div>
  </div>
</form>

